@font-face {
    font-family: "Luckiest Guy";
    font-style: normal;
    font-weight: 400;
    src: local("Luckiest Guy"), local("LuckiestGuy-Regular"), url("lukiestguy.woff") format("woff");
}

body{
    font-family:Verdana, sans;
}

p, ul, li{
    margin-bottom: 1em;
}
hr {
    border:1px solid #FF6600;
    /* background-color:#FF6600; */
    height:0px;
}

p{
    line-height:1.6em;
}
/*
html:after {    
    content: "HOT";
    font-size: 920%;
    color: rgba(256, 0, 0, .3);
    background-color:rgba(256, 256, 256, .3);
    padding:10px 0px;
    
    z-index: 9999;
    cursor: default;
    display: block;
    position: fixed;
    top: 33%;
    left: 0;
    right:0;
    width:100%;

    font-family: sans-serif;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    line-height: 100%;

    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    -ms-pointer-events: none;
    -o-pointer-events: none;
    pointer-events: none;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
*/